[report]
omit =
  **/__init__.py
  **/tests/*
  **/test/*
  **/conftest.py
  */infra/orm/*
  */types/i*
  aorta/types/messagehandlertype.py
  aorta/types/commandtype.py
  aorta/types/messagetype.py
  aorta/types/eventtype.py

exclude_lines =
  # Have to re-enable the standard pragma
  pragma: no cover

  # Don't complain if tests don't hit defensive assertion code:
  raise NotImplementedError

